<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="solucaoInicial.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solução Inicial</title>
</head>
<body>
    <%- include('partials/nav.ejs'); %>
    <div class="container">

        <h1>Solução Inicial</h1>
    
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tamanho da sala</th>
            <th scope="col">Tamanho da turma</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><%= turminha1[0] %></td>
            <td><%= turminha1[1] %></td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><%= turminha2[0] %></td>
            <td><%= turminha2[1] %></td>
           
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><%= turminha3[0] %></td>
            <td><%= turminha3[1] %></td>
           
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><%= turminha4[0] %></td>
            <td><%= turminha4[1] %></td>
           
          </tr>
        
          <tr>
              
            <th scope="row" style="border: 1px solid rgb(223, 215, 215);">Salas Remanescentes</th>
            <td colspan="2" style=" border: 1px solid rgb(223, 215, 215); font-weight: bold;"><%= salasRemanescentes %></td>
           
          </tr>
        
          <tr>
            <th scope="row" style="border: 1px solid rgb(223, 215, 215);">Avalia</th>
            <td colspan="2" style=" border: 1px solid rgb(223, 215, 215); font-weight: bold;"><%= valorAvalia %></td>
           
          </tr>

          
        </tbody>
      </table>
    </div>
</body>
</html>